In [59]:
import json
from copy import deepcopy

In [28]:
convert_lowercase_table_map = {
    "rule-type": "transformation",
    "rule-id": "",
    "rule-name": "",
    "rule-target": "table",
    "object-locator": {
      "schema-name": "dbo",
      "table-name": ""
    },
    "rule-action": "convert-lowercase",
    "value": None,
    "old-value": None
}

convert_lowercase_col_map = {
    "rule-type": "transformation",
    "rule-id": "",
    "rule-name": "",
    "rule-target": "column",
    "object-locator": {
      "schema-name": "dbo",
      "table-name": "",
      "column-name": ""
    },
    "rule-action": "convert-lowercase",
    "value": None,
    "old-value": None
  }

convert_datatype_col_map = {
    "rule-type": "transformation",
    "rule-id": "",
    "rule-name": "",
    "rule-target": "column",
    "object-locator": {
      "schema-name": "dbo",
      "table-name": "",
      "column-name": ""
    },
    "rule-action": "change-data-type",
    "data-type": {
      "type": ""
    }
}

remove_col_map = {
    "rule-type": "transformation",
    "rule-id": "",
    "rule-name": "",
    "rule-target": "column",
    "object-locator": {
      "schema-name": "dbo",
      "table-name": "",
      "column-name": ""
    },
    "rule-action": "remove-column",
    "value": None,
    "old-value": None
}

rename_col_map = {
    "rule-type": "transformation",
    "rule-id": "",
    "rule-name": "",
    "rule-target": "column",
    "object-locator": {
      "schema-name": "dbo",
      "table-name": "",
      "column-name": ""
    },
    "rule-action": "rename",
    "value": "",
    "old-value": None
}

table_include_selection_map = {
    "rule-type": "selection",
    "rule-id": "",
    "rule-name": "",
    "object-locator": {
      "schema-name": "dbo",
      "table-name": ""
    },
    "rule-action": "include",
    "filters": []
}

In [61]:
rules = {
    "rules": [
        
    ]
}

In [49]:
def assign_id_name_to_rule(rule):
  rule["rule-id"] = str(len(rules["rules"]) + 1)
  rule["rule-name"] = str(len(rules["rules"]) + 1)
  return rule

In [50]:
def add_lower_case_table_rules(tables):
  for table in tables:
    map = deepcopy(convert_lowercase_table_map)
    map = assign_id_name_to_rule(map)
    map["object-locator"]["table-name"] = table
    rules["rules"].append(map)

In [51]:
def add_lower_case_col_rules(columns, table):
  for col in columns:
    map = deepcopy(convert_lowercase_col_map)
    map = assign_id_name_to_rule(map)
    map["object-locator"]["table-name"] = table
    map["object-locator"]["column-name"] = col
    rules["rules"].append(map)

In [52]:
def add_convert_datatype_col_rules(columns, types, table):
  for col, t in zip(columns, types):
    map = deepcopy(convert_datatype_col_map)
    map = assign_id_name_to_rule(map)
    map["object-locator"]["table-name"] = table
    map["object-locator"]["column-name"] = col
    map["data-type"]["type"] = t
    rules["rules"].append(map)

In [53]:
def add_remove_col_rules(columns, table):
  for col in columns:
    map = deepcopy(remove_col_map)
    map = assign_id_name_to_rule(map)
    map["object-locator"]["table-name"] = table
    map["object-locator"]["column-name"] = col
    rules["rules"].append(map)

In [54]:
def add_rename_col_rules(columns, table, new_name):
  for col in columns:
    map = deepcopy(rename_col_map)
    map = assign_id_name_to_rule(map)
    map["object-locator"]["table-name"] = table
    map["object-locator"]["column-name"] = col
    map["value"] = new_name
    rules["rules"].append(map)

In [55]:
def add_table_include_selection_rules(tables):
  map = deepcopy(table_include_selection_map)
  for table in tables:
    map = assign_id_name_to_rule(map)
    map["object-locator"]["table-name"] = table
    rules["rules"].append(map)

In [62]:
columns = ["A", "B", "C"]
table = "XYZ"
add_lower_case_col_rules(columns, table)

In [65]:
print(json.dumps(rules, indent=4))
rules_json = json.dumps(rules)

{
    "rules": [
        {
            "rule-type": "transformation",
            "rule-id": "1",
            "rule-name": "1",
            "rule-target": "column",
            "object-locator": {
                "schema-name": "dbo",
                "table-name": "XYZ",
                "column-name": "A"
            },
            "rule-action": "convert-lowercase",
            "value": null,
            "old-value": null
        },
        {
            "rule-type": "transformation",
            "rule-id": "2",
            "rule-name": "2",
            "rule-target": "column",
            "object-locator": {
                "schema-name": "dbo",
                "table-name": "XYZ",
                "column-name": "B"
            },
            "rule-action": "convert-lowercase",
            "value": null,
            "old-value": null
        },
        {
            "rule-type": "transformation",
            "rule-id": "3",
            "rule-name": "3",
            "rule-target": "column",
            "object-locator": {
                "schema-name": "dbo",
                "table-name": "XYZ",
                "column-name": "C"
            },
            "rule-action": "convert-lowercase",
            "value": null,
            "old-value": null
        }
    ]
}